.wrapper {
	display: flex;
	flex-direction: column;
}

.productsWrapper {
	/* height: 1500px; */
	overflow: visible;

	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	margin-top: 30px;
	padding-bottom: 40px;
	column-gap: 36px;
	row-gap: 45px;

	justify-content: space-between;
}

.productsWrapper::after {
	content: '';
	flex: auto;
}

.menuFront {
	display: flex;
	flex-direction: row;

	margin-top: 20px;
	gap: 35px;
	height: 350px;
}

.slider {
	width: 74%;
	height: 100%;
}

.carousel {
	height: 350px;
	width: 100%;
}

.carouselImg {
	width: 821px;
	height: 350px;
	object-fit: cover;
}

.sliderElementBlock:hover {
	cursor: pointer;
}

.dishDescription {
	font-size: 24px;
	font-weight: 400;

	letter-spacing: 2px;

	margin-top: 30px;
}
