.wrapper {
	display: flex;
	flex-direction: column;

	padding-top: 50px;
	height: auto;
}

.content {
	display: flex;
	flex-direction: column;
}

.formElement {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	padding-bottom: 15px;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.saveButton {
	background-color: rgb(218, 12, 12);
	width: 110px;
	height: 32px;
	border-radius: 12px;
	border: none;
	transition: all 0.4s ease;
}

.saveButton:hover {
	background-color: rgb(147, 17, 17);
	cursor: pointer;
}

.input {
	border: none;
	height: 24px;
	color: black;
	padding-left: 5px;
	border-radius: 6px;
}
