.wrapper {
	background: rgb(107, 51, 35);
	height: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.footerContent {
	display: flex;

	max-width: 1200px;
	width: 100%;
	padding: 0 30px;
	height: 100%;

	align-self: center;
}

.descriptionWrapper {
	display: flex;
	flex-direction: column;
}

.logoWrapper {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;

	align-self: center;
	padding-top: 15px;
}

.descriptionItem {
	margin-left: 40px;
}

.descriptionCombiner {
	display: flex;
	margin-top: 20px;
	@media only screen and (max-width: 767px) {
		margin-top: 10px;
	}
}

/* Icons */

.iconsWrapper {
	display: flex;
	flex-direction: row;

	justify-content: center;
}

.endingText {
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divider {
	width: 2px;
	height: 90%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px 5px;
	opacity: 10%;
	margin: 0 20px;
}

.descriptionItemText {
	margin-bottom: 15px;
	line-height: 24px;
}

/* Footer footer :D */
.footerEnding {
	background-color: rgb(56, 26, 18);
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
}

/* Footer Header */

.footerHeader {
	display: flex;
	justify-content: center;
}

/* Contact */

.contactWrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.logoText {
	@media only screen and (max-width: 767px) {
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.descriptionItemText {
		margin-bottom: 10px; /* Уменьшаем отступ между текстовыми блоками */
		line-height: 20px; /* Уменьшаем высоту строки */
	}

	.descriptionItem {
		margin-left: 20px; /* Уменьшаем отступ слева для текстовых блоков */
	}

	.logoText {
		font-size: 14px; /* Уменьшаем размер текста в логотипе для мобильных устройств */
	}

	.wrapper {
		height: 436px;
	}
}
