.card{
    display: flex;
    font-weight: bold;
    margin: 20px 0 100px 0;
    gap: 100px;
}
.card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__title{
    font-size: 17px;
    color: #F69C65
}
.card__slogan{
    margin: 12px 0;
    font-size: 20px;
    max-width: 10em;
    color: white;
}
.card__button{
    font-size: 13px;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    border: none;
    background-color: #E67E22;
    color: white;
    -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.55);
    box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.55);
    cursor: pointer;
}
.link__wrapper{
    display: flex;
}
.card__text{
    max-width: 300px;
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}
.card__imageWrapper{
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 10px;
}
.card__imageContainer{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__dashedBorder{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    position: absolute;
    z-index: 1;
}
.card__dashedBorder:after{
    content: "";
    border-top: 2px dashed white;
    border-left: 2px dashed white;
    border-bottom: 2px dashed white;
    border-right: 2px dashed white;
    width: 90%;
    border-radius: 10px;
    height: 100%;
    position: absolute;
}
.card__secondImageDashedBorder{
    width: 94%;
    height: 94%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    z-index: 1;
    border: 2px dashed white;
    border-radius: 10px;
}
.card__specialText{
    font-size: 22px;
    font-weight: bold;
    color: #e1a58a;
    transform: translateY(-50%) translateX(-38%) rotateZ(-90deg);
    position: absolute;
    left: 0;
    top: 50%;
}
.card__mainImg{
    width: 70%;
    height: 70%;
    position: relative;
    z-index: 2;
}
.card__secondImageWrapper{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 54%;
    right: 0;
}
.card__secondImgContainer{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FF702A;
    transform: translateX(50%);
    border-radius: 15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__secondImg{
    width: 90%;
    height: 90%;
}
